<div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart" [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions"></canvas>
  <div class="header text-center">
    <h2 class="title">Welcome to G12 Football Bet</h2>
  </div>
</div>
<div class="main-content">
  REGRAS DO BOLÃO

Aposta
R$ 200,00 por participante (R$ 100,00 cada turno). Poderá ser paga ao final do turno ou ao final do campeonato, se o participante aceitar participar dos dois turnos. A premiação (rateio) total será dividida igualmente entre os dois turnos do campeonato, e a pontuação dos participantes zera na transição dos turnos.

Pontuação
- Acerto de resultado exato: 10 pontos
- Acerto de vencedor ou empate: 5 pontos
Obs: 1 ponto extra (totalizando 11 pontos) para acertos exatos em jogos com 4 gols ou mais (ex. 2x2, 3x1, 4x0, 9x5 etc).
Obs2:  1 ponto extra (totalizando 11 ou 12 pontos) para acertos exatos em que o participante for o único a acertar o placar. 

- Pontuação complementar: 

Na 9ª rodada se dará o palpite para o time campeão do 1º turno, valendo 20 pontos ao final do 1º turno.
Na 25ª Rodada se darão os palpites para o G6 do campeonato, valendo 5 pontos para cada acerto na posição correta (1º ao 6º lugares), acrescidos ao final do 2º turno.

Premiação 
- Ao final de cada turno os 4 primeiros colocados receberão premiação em dinheiro, sendo: 1º lugar (R$ 1.000,00), 2º lugar (R$ 500,00), 3º lugar (R$ 250,00) e 4º lugar (R$ 100,00) por turno. 
- Os participantes 1º e 2º colocados gerais na pontuação final (soma dos dois turnos) do campeonato, independente de sua posição nos turnos, receberão bônus de R$ 200,00 e R$ 100,00 respectivamente, acrescidos a uma possível premiação já conquistada.

Considerações Finais
- Os resultados de cada rodada devem ser enviados no grupo até 01 minuto antes do início do primeiro jogo do dia (ex.: 15:59h caso a rodada se inicie às 16:00h), caso não, o participante perderá a pontuação de todos os jogos do dia em questão, podendo ainda enviar resultados da mesma rodada nos dias subsequentes, caso haja. 
- Depois de enviados no grupo, o participante poderá trocar os seus resultados apenas em caso de erro ou resultado faltante.
- Não serão aceitos comentários de cunho político no grupo, como já é sabido, nem assuntos ou figurinhas/memes relacionados. Não sendo respeitado, o participante poderá ser punido com perda de pontos.
</div>